body{
    text-align: center;
    background-color: bisque;
}
h1{
    margin-top: 10px;
    
}
hr{
    margin-top: 1%;
    width: 50%;
}
.yazi{
    margin-left: 25%;
    text-align: left;
    width: 45%;
}
h3{
    color: coral;
}
